.container {
  min-height: 100vh;
  min-width: 100vw;
}
header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container--items{
    height: calc(100vh - 70px);
    display: flex;
}